<header id="HEADER_1">
    <div id="DIV_24">
        <div id="DIV_25">
            <em id="EM_26"> <a href="/" title="Home" id="A_27"><img src="/images/logo.png" alt="USAGov Logo" id="IMG_28" /></a></em>
        </div>
        <button id="BUTTON_29">
            Menu
        </button>
    </div>
    <nav id="NAV_30">
        <div id="DIV_31">
            <div id="DIV_32">
                <button id="BUTTON_33">
                    Close
                </button>
                <form action="#" method="get" name="search_form" id="FORM_34">
                    <div id="DIV_35">
                        <label for="search-field-small" id="LABEL_36">
                            Search
                        </label>
                        <input id="INPUT_37" name="affiliate" type="hidden" value="usagov" />
                        <input id="INPUT_38" type="search" name="query" placeholder="Search All Government" disabled="disabled" />
                        <button type="submit" id="BUTTON_39" disabled="disabled">
                            <span id="SPAN_40">Search</span>
                        </button>
                    </div>
                </form>
                <ul id="UL_41">
                    <li id="LI_42">
                        <button id="BUTTON_43">
                            Search
                        </button>
                    </li>
                    <li id="LI_44">
                        <a href="#" id="A_45">Contact Us</a>
                    </li>
                    <li id="LI_46">
                        <a href="#" id="A_47">1-844-USA-GOV1</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="navigation">
        <div class="item">Services</div>
        <div class="item">Agencies</div>
        <div class="item selected">Document renewal</div>
        <div class="item">Vehicle registration</div>
    </div>
</header>
<div class="main">
    <div class="row">
        <div class="box">
            <div class="title">
                Electronic ID (eID)
            </div>
            <img src="/images/eid.png" />
            <div class="content">
                <ul>
                    <li>Time-savings due to efficient electronic services for government related admin tasks (no personal interaction)</li>
                    <li>Easily confirmable and transferable digital signature</li>
                    <li>Personal data entry required only once and is centrally stored for all future government services</li>
                    <li>Greater convenience as only one password for all activities</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <div class="title">
                Traditional driver license/ID card
            </div>
            <img src="/images/tid.png" />
            <div class="content">
                <ul>
                    <li>Personal interaction required for all government related admin tasks</li>
                    <li>Handwritten signature required for every single document</li>
                    <li>Data entry required for each governmental service</li>
                    <li>Several passwords (one password for every activity)</li>
                </ul>
            </div>
        </div>
    </div>
    <form name="sosci" action="http://umfragen.ise.tu-darmstadt.de/sosci/egov/" onsubmit="return validateForm()" method="get" >
    <div class="row">
        <div class="option">

    <div class="col">
            <div class="optionrow"><input type="radio" name="eid" value="1" />eID</div>
            <img class="socialproof" src="/images/sproof.png" />
          </div>
          </div>
        <div class="option">
          <div class="col">
            <div class="optionrow"><input type="radio" name="eid" value="0" />ID card</div>
            <img class="socialproof" src="/images/sproof2.png" />
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
                        <input type="hidden" value="ptest" name="password" />
                        <input type="hidden" value="1" name="sproof" />
                        <input type="hidden" value="0" name="dopt" />
            <button class="submit">Submit</button>
            <!-- <div class="label">Please select ID type</div> -->
        </div>
    </div>
    </form>
</div>
